
    
    /* CSS only for examples not required for centering */
    .container {
        height: 100%;
    }
    
    .note {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        padding: 5px;
        background: #eee;
        max-width: 360px;
        border: 1px dotted #bbb;
    }
    
    /* show border around full height container */
    .h-100 {
        border: 1px dotted;
    }

    .bg-nt{
            background-image: url('/assets/nt21.jpg');
            background-size: cover;
            /* background-position-y: -70%; */
            /* opacity: 80%; */
            

    }