<div class="container col-12 bg-nt d-flex align-items-center justify-content-center">
  <!-- <div class="card" style="margin-top: 50%;"> -->
  <div class="card col-lg-4 col-sm-4">
    <div class="card-body text-center">

      <form [formGroup]="Form" (ngSubmit)="getUser()">
        <div class="form-group">
          <h3 for="exampleInputEmail1">Your Name</h3>
          <input type="text" class="form-control" placeholder="Your Name" formControlName="name">

          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <button type="submit" class="btn btn-primary">Calculate</button>
      </form>
      <h3 *ngIf="userData">Your age is {{userData.age}}</h3>

    </div>
  </div>
</div>